<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <meta charset="utf-8">
  <title>ToDo app in ajgularJS</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body ng-app="todosApp">
<h2>Simple Todo app: Using AngularJS + REST APIs</h2>
<input type="text" ng-model="search" class="search-query" placeholder="Search">
  <div ng-controller="todos">
    <ol>
        <li ng-repeat="todo in todos | filter:search">
            {{todo.todo}} <a href="#" ng-click="delTodo(todo.id);" title="Click to delete!" class="icon-trash">X</a>
        </li>
    </ol>
     <input type="text" ng-model="newTodo.todo"><input type="button" value="Add" ng-click="addTodo();">
  </div>
<script>
var todoApp = angular.module('todosApp',[]);

todoApp.factory('todoFactory',function($http){
  var factory = [];
  
  factory.getTodos = function(){
    return $http.get("api/todos");
  }

  factory.addTodo = function(newTodo){
    return $http.post("api/todos",newTodo);
  }
  factory.delTodo = function(id){
    return $http.delete("api/todos/"+id);
  }

    return factory;
});

todoApp.controller('todos',function($scope,todoFactory){
  
  $scope.todos = [];
  loadTodos();
  
  function loadTodos(){
    todoFactory.getTodos().success(function(data){
        $scope.todos = data;
    });
    }
    $scope.getTodo = function(){
           todoFactory.getTodo($scope.todoId).success(function(data){
                        loadTodos();
                        });
    }
    $scope.addTodo = function(){
        if($scope.newTodo.todo!=''){
           todoFactory.addTodo($scope.newTodo).success(function(data){
                        loadTodos();
                    });
           }
    }
    $scope.delTodo = function(todoId){
            todoFactory.delTodo(todoId).success(function(data){
                if(data.done=='yes'){
                    loadTodos();
                }
            })
    }
});
</script>
</body>
</html>